.env
venv/

# fat data files
repomix-output-16-jun.xml
repomix-output-20-jun.xml
data.csv
01_agent_clean/cleaned.csv
01_agent_clean/cleaning_report.md
02_agent_feature/featured.csv
02_agent_feature/feature_report.md